header {

    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
 }
 
 .img {
    width: 15%;
 
 }

main {
    background-color: rgb(213, 243, 211)
 
 }
 
 .card img{
    width: 70%
 }
 
footer {
    background: linear-gradient(0deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
 }
 
 

.section1 {

    background-color: rgb(213, 243, 211);
    display: flex;
    flex-direction: column;
   
}

.section1 h2 {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-style: italic;
    font-size: 40px;
    font-family: fantasy;
   
}

.section1 h3 {
    display: row;
    text-align: center;
    height: 25vh;
    color: green;
    font-style: italic;
    font-size: 20px;
    font-family: fantasy;

}

.section1 img {
    
    display: flex;
    animation-name: agrandado;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes agrandado {
    0% {
        height: 150px;
    }
    25%{
        height: 200px;
    }
    50%{
        height: 250px;
    }
    75%{
        height: 200px;
    }
    100%{
          height: 150px;
        }
    
}

.section1 div img {
    display: inline-block;
    align-items: center;
    justify-content: center;
      margin: 0px 140px;
   
}
.section1 p {
    max-width: 100%;
    min-width: 250px;
    text-align:left;
    color: green;
    font-size: 20px;

}

.nosotros {
    
    margin: 20px;
    display: flex;
}

.nosotros p {
    max-width: 600px;
    min-width: 250px;
  
}

/*tamaño Tablet*/
@media (max-width: 1000px) {
   
     .section1 { 
        height: 160vh;
        align-items: center; 
     } 

    
        .section1 p {
        max-width: 400px;
        align-items: center;
    }

    .section1 div img {
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 30vh;
        margin: 0px 50px;
    }

    @keyframes agrandado {
        0% {
            height: 50px;
        }
        25%{
            height: 80px;
        }
        50%{
            height: 100px;
        }
        75%{
            height: 90px;
        }
        100%{
              height: 50px;
            }
        }
}    
    
/*media QR*/
 /*tamaño celular*/
 @media (max-width: 620px) {
    
    .img{
       width: 30%;
    }
 
    main{
              
       font-size: smaller;
               
    }

    main img{
        display: none;
    }

    footer iframe {
        display: none;
    }

       .section1 div img {
        display:none;
        
    }

    .nosotros p {
        max-width: 250px;
        min-width: 150px;
        margin: 0px
    }
   
}